/* --------------------------
:: Template Name: Colorlib App - App Landing Page 
:: Template Author: Colorlib
:: Template Author URI: https://colorlib.com/
:: Description: Colorlib is a One Page based App Landing Template. It's very clean, creative & beautiful. It's super     responsive & ultra light.
:: Tags: Colorlib, App Landing, Apps, Responsive App Landing, Bootstrap 4, Free Theme, Free HTML Template, HTML5 Template etc.
:: Version: v1.0
:: Created: 11/03/2017
-------------------------- */

/* --- [Master Stylesheet] ----
:: 1.0 Base CSS Start
:: 2.0 Header Area CSS
:: 3.0 Wellcome Area CSS
:: 4.0 Special Area CSS
:: 5.0 Features Area CSS
:: 6.0 Video Area CSS
:: 7.0 Cool Facts Area CSS
:: 8.0 Screenshots Area CSS
:: 9.0 Pricing Plan Area CSS
:: 10.0 Testimonials Area CSS
:: 11.0 CTA Area CSS Start
:: 12.0 Team Area CSS Start
:: 13.0 Contact Area CSS Start
:: 14.0 Footer Area CSS Start
-------------------------- */


/* --------------------------
:: 1.0 Base CSS Start
-------------------------- */

.section-heading > h2
{
	color:							#28a745		!important;
}

#scrollUp 
{
	background-color: 	#ffc107		!important;
}

.line-shape
{
	background-color:		#ffc107		!important;
	margin-bottom:			30px			!important;
}

/* --------------------------
:: 2.0 Header Area CSS
-------------------------- */

@media (max-width: 991px) and (min-width: 320px)
{
	#ca-navbar 
	{
		background-color:	#28a745		!important;
	}
}
.sing-up-button > a
{
	border: 						2px solid	!important;
	border-color:				#d4be0d		!important;
}

.sing-up-button > a:hover
{
	background: 				#d4be0d		!important;
}

/* stcicky css */

.header_area.sticky 
{
	background-color: 	#28a745		!important;
}

/* --------------------------
:: 3.0 Wellcome Area CSS
-------------------------- */

section.wellcome_area
{
	background-color:		white			!important;
}

@media (min-width: 1200px)
{
	.wellcome_area
	{
		height:						1000px		!important;
	}
  .wellcome-heading > h3
	{
		font-size:				350px			!important;
  }
	.wellcome-heading > p
	{
		width:						65%				!important;
		font-size:				48px			!important;
	}
	.welcome-thumb
	{
		overflow:					hidden		!important;
		width:						800px			!important;
		bottom:						-100px		!important;
	}
	.welcome-thumb > img
	{
		position:					relative	!important;
		top:							110px			!important;
	}
}

@media (min-width: 992px) and (max-width: 1199px) 
{
	.wellcome_area
	{
		height:						1100px		!important;
	}
  .wellcome-heading > h3 
	{
    font-size:				300px 		!important;
    top: 							-100px		!important;
		right:						0px				!important;
  }
	.wellcome-heading > p
	{
		width:						60%				!important;
		font-size:				48px			!important;
	}
	.welcome-thumb
	{
		overflow:					hidden		!important;
		width:						70%				!important;
		right:						0px				!important;
	}
	.welcome-thumb > img
	{
		position:					relative	!important;
		top:							90px			!important;
	}
}

@media (min-width: 768px) and (max-width: 991px)
{
	.wellcome_area
	{
		height:						800px		!important;
	}
	.wellcome-heading > h3 
	{
    font-size:				200px 		!important;
    top: 							-20px			!important;
  }
	.wellcome-heading > p
	{
		width:						75%				!important;
		font-size:				32px			!important;
	}
	.welcome-thumb
	{
		overflow:					hidden		!important;
		width:						70%				!important;
	}
	.welcome-thumb > img
	{
		position:					relative	!important;
		top:							90px			!important;
	}
}

@media (min-width: 400px) and (max-width: 767px)
{
	div.get-start-area > form.form-inline
	{
		flex-flow:				column		!important;
		align-items:			left			!important;
	}
	form > input.email
	{
		margin-bottom:		20px			!important;
	}
	.wellcome_area
	{
		height:						650px			!important;
	}
	.wellcome-heading > h2
	{
		font-size:				50px			!important;
	}
	.wellcome-heading > h3
	{
    font-size:				120px 		!important;
    top: 							0px				!important;
		left:							10px			!important;
  }
	.wellcome-heading > p
	{
		font-size:				24px			!important;
	}
	.welcome-thumb
	{
		overflow:					hidden		!important;
	}
	.welcome-thumb > img
	{
		position:					relative	!important;
		top:							65px			!important;
	}
}

@media (min-width: 320px) and (max-width: 399px)
{
	.wellcome_area
	{
		height:						600px			!important;
	}
	.navbar > a
	{
		font-size:				35px			!important;
	}
	.wellcome-heading > h2
	{
		font-size:				45px			!important;
	}
  .wellcome-heading > h3 
	{
		font-size:				100px			!important;
    top: 							0px				!important;
		left:							0px				!important;
  }
	.welcome-thumb
	{
		overflow:					hidden		!important;
	}
	.welcome-thumb > img
	{
		position:					relative	!important;
		top:							45px			!important;
	}
}

.form-control::placeholder 
{
	color: 							#fcd804		!important;
}

.get-start-area .email 
{
	background: 				#f8f9fa		!important;
}

.get-start-area .submit
{
	background-color:		#d4be0d		!important;
	z-index:						10				!important;
}

/* --------------------------
:: 3.5 div.fix_bg CSS
-------------------------- */

div.fix_bg
{
	height:							100px			!important;
	background-color:		white			!important;
}

@media (min-width: 450px) and (max-width: 991px)
{
	div.fix_bg
	{
		height:						130px			!important;
		background-color:	white			!important;
	}
}

/* --------------------------
:: 4.0 Special Area CSS
-------------------------- */

.section-heading > p
{
	font-size:					24px			!important;
	margin-top:					30px			!important;
}

.single-icon > i
{
	color:							#ffc107		!important;
}

.single-special > h4
{
	color:							#28a745		!important;
}

.special_description_content > h2
{
	color:							#ffc107		!important;
}

.special-area
{
	padding-top:				30px			!important;
}

@media (min-width: 320px) and (max-width: 991px)
{
	.special-area
	{
		padding-top:			0px				!important;
	}
}

.special_description_area
{
	margin-top:					0px				!important;
}

/* --------------------------
:: 4.5 Area de descarga CSS
-------------------------- */

#descarga
{
	background-color:		#28a745		!important;
	padding-top:				50px			!important;
}

p > b
{
	font-weight: bold;
}

.app-download-area
{
	margin-bottom:			50px			!important;
}

.app-download-btn > a
{
	background-color:		white			!important;
}

.app-download-btn > a:hover
{
	background-color:		#fb397d		!important;
}

.app-download-btn > a:active
{
	background-color:		red				!important;
}

.special_description_content > p
{
	color:							white			!important;
}

.app-download-btn a:hover
{
	background-color:		#ffc107		!important;
}

.app-download-btn a:hover i,
.app-download-btn a:hover p
{
	color:							#28a745		!important;
}

/* --------------------------
:: 5.0 Features Area CSS
-------------------------- */

.section-heading,
.awesome-feature-area
{
	margin-bottom:			0px				!important;
	padding-bottom:			0px				!important;
}

/* --------------------------
:: 6.0 Video Area CSS
-------------------------- */

.video-area div,
.video-area iframe
{
	width:							100%			!important;
	height:							100%			!important;
	z-index:						10				!important;
	position:						absolute	!important;
}

/* --------------------------
:: 7.0 Cool Facts Area CSS
-------------------------- */

.cool_facts_area
{
	background:					#28a845		!important;
	margin-bottom:			-100px		!important;
}

/* --------------------------
:: 8.0 Screenshots Area CSS
-------------------------- */

.app-screenshots-area .owl-dot.active 
{
	background-color: 	#ffc107		!important;
}

/* --------------------------
:: 9.0 Pricing Plan Area CSS
-------------------------- */

/* --------------------------
:: 10.0 Testimonials Area CSS
-------------------------- */

.clients-feedback-area 
{
	background-color: 	#ffefa6		!important;
}

.clients-feedback-area .client > i 
{
	color: 							#28a845		!important;
}

.clients-feedback-area .client-name > h5
{
	color: 							#28a845		!important;
}

.clients-feedback-area .slick-dots li.slick-active button
{
	background-color: 	#ffc107		!important;
  border-color: 			#ffc107		!important;
}

.clients-feedback-area .slick-arrow
{
	background-color: 	#ffefa6		!important;
}

/* --------------------------
:: 11.0 CTA Area CSS Start
-------------------------- */

/* --------------------------
:: 12.0 Team Area CSS Start
-------------------------- */

/* --------------------------
:: 13.0 Contact Area CSS Start
-------------------------- */

.footer-contact-area
{
	margin-bottom:			475px			!important;
}

.address-text > p > span, 
.phone-text > p > span, 
.email-text > p > span
{
	color: 							#28a845		!important;
}

.btn.submit-btn
{
	background:					#28a845		!important;
}

/* --------------------------
:: 14.0 Footer Area CSS Start
-------------------------- */

.footer-text > h2
{
	font-size: 					32px			!important;
	color:							#28a845		!important;
}

.footer-social-icon > a > i
{
	background: 				#ffc107		!important;
	color:							#726a84		!important;
}

